@import url("reset.scss");

$secondary-color: #282828;
$background-color: #1a1a1a;

body {
  background-color: $background-color;
}

.hello-page-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px;
}

.hello-page-bottom-space {
  height: 100vh;
}
