// @import "variables";
// @import url("reset.scss");
// @import url("utils.scss");
// @import url("dashboard.scss");

body {
  background-color: #1a1a1a;
  color: white !important;
  
}


.ant-form-item-required {
    color: white !important
}
