@import url("reset.scss");

.hello-page-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px;
}

.hello-page-bottom-space {
    height: 100vh;
}